PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/technozone
JWT_SECRET=your_jwt_secret_key
Refresh_Token_Secret=your_refresh_token_secret_key

# Nodemailer / SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
